
@model DoAn_LTWeb.ViewModels.HeaderViewModel

<li class="nav-item dropdown dropdown-megamenu">
    <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown">
        Sản phẩm
    </a>
    <div class="dropdown-menu">
        <div class="container">
            <div class="row">

                @* Lặp qua danh sách Categories (từ Model tổng) *@
                @foreach (var category in Model.Categories)
                {
                    <div class="col-md-3">
                        @* Link cho Danh mục Cha (Cấp 1) - Ví dụ: Đàn Piano *@
                        <h4 class="megamenu-title">
                            <a href="@Url.Action("Index", "Store", new { id = category.Parent.MALOAI })" class="text-decoration-none text-dark">
                                @category.Parent.TENLOAI
                            </a>
                        </h4>
                        <ul class="megamenu-list">
                            @foreach (var child in category.Children)
                            {
                                <li>
                                    @* Link cho Danh mục Con (Cấp 2) - Ví dụ: Grand Piano *@
                                    <a class="dropdown-item" href="@Url.Action("Index", "Store", new { id = child.MALOAI })">
                                        @child.TENLOAI
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</li>

@* --- 2. PHẦN MENU TĨNH (Giữ nguyên) --- *@
<li class="nav-item fw-bold">
    @Html.ActionLink("Giới thiệu", "About", "Home", null, new { @class = "nav-link" })
</li>
<li class="nav-item fw-bold">
    @Html.ActionLink("Khuyến mãi", "Index", "Promotion", null, new { @class = "nav-link" })
</li>
<li class="nav-item fw-bold">
    @Html.ActionLink("Tin tức", "Index", "News", null, new { @class = "nav-link" })
</li>
<li class="nav-item fw-bold">
    @Html.ActionLink("Liên hệ", "Contact", "Home", null, new { @class = "nav-link" })
</li>